@import "./../../assets/styles/variables.scss";

body {
  margin: 0;
  padding: 0;
  background-color: #f2f4f8;

  font-weight: 400;
}

input {
  outline: none;
}
a:hover {
  text-decoration: none;
}
input {
  outline: none;
}
div {
  outline: none;
}
