@import "../../assets/styles/variables.scss";

.margin-top5 {
  margin-top: 5px !important;
}
.margin-bottom20 {
  margin-bottom: 20px !important;
}
.margin-bottom10 {
  margin-bottom: 10px !important;
}
.padding-top0 {
  padding-top: 0 !important;
}
